@model RegisterViewModel

<body>
	<div class="background">
		<div class="second-background">
			<form class="registration" method="post" asp-controller="HomePage">
				<div class="variants no-caret">
					<a asp-action="LoginForm">ВОЙТИ</a>
					<a class="oranged">РЕГИСТРАЦИЯ</a>
				</div>
				<div class="inputs">
					<input asp-for="Login" id="input__username" type="text" placeholder="Логин">
					<span asp-validation-for="Login" class="form-text text-danger span-danger"></span>
					<input asp-for="Password" id="input__password" type="password" placeholder="Пароль">
					<span asp-validation-for="Password" class="form-text text-danger span-danger"></span>
					<input asp-for="PasswordConfirm" id="input__password" type="password" placeholder="Повторите пароль" >
					<span asp-validation-for="PasswordConfirm" class="form-text text-danger span-danger"></span>
				</div>
				<div class="buttons no-caret">
					<button asp-action="CreateUser" id="button__register" type="submit">РЕГИСТРАЦИЯ</button>
					<a asp-action="LoginForm" id="a__already-have-account">Уже есть аккаунт? Войти</a>
				</div>
			</form>
		</div>
	</div>
</body>