html, body, p, a {
	margin: 0;
	padding: 0;
}

button {
	border-width: 0;
}

.oranged {
	color: orange !important;
}

.no-caret {
	caret-color: transparent;
}

.background {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-image: url("../img/Mountains.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.second-background {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 350px;
	height: 60%;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.85));
	box-shadow: 0px 40px 120px black;
	font-family: "Trebuchet MS";
}

.authorization, .registration {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 80%;
	height: 80%;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.span-danger {
    margin-top: -2em;
}

.variants {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 90%;
	height: 10%;
}

.variants a {
	font-size: 16pt;
	color: white;
	text-decoration-color: rgba(0, 0, 0, 0);
	transition: text-decoration-color 0.25s;
}

.variants a:hover {
	text-decoration-color: orange;
}

.inputs {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 70%;
}

input {
	background-color: rgba(0, 0, 0, 0);
	border-width: 0;
	border-bottom-width: 3px;
	font-family: Trebuchet MS;
	font-size: 13pt;
	color: white;
	transition: border-bottom-color 0.25s;
}

input:focus {
	outline: none;
	border-bottom-color: orange;
}

input::placeholder {
	font-family: Trebuchet MS;
	color: white;
}

#checkbox__keep-logged {
	display: none;
}

label[for="checkbox__keep-logged"] {
	position: relative;
	left: 20px;
	color: white;
}

.toggle-border {
	position: absolute;
	left: -1.5em;
	top: 0.2em;
	width: 1em;
	height: 1em;
	border: 2px solid orange;
	transition: transform 0.6s;
}

.toggle-inner {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0);
	transition: all 0.6s;
}

#checkbox__keep-logged:checked + label[for="checkbox__keep-logged"] .toggle-border {
	transform: rotateZ(90deg);
}

#checkbox__keep-logged:checked + label[for="checkbox__keep-logged"] .toggle-inner {
	background-color: orange;
}

.buttons {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 25%;
}

#button__login, #button__register {
	position: relative;
	top: 0;
	left: 0;
	background-color: orange;
	padding: 5px 50px 5px 50px; /* top, right, bottom, left */
	border-radius: 20px;
	font-size: 16pt;
	color: white;
	z-index: 1;
	overflow: hidden;
	transition: all 0.8s;
}

#button__login::after, #button__register::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: red;
	transform: translateX(-100%);
	transition: transform 0.8s;
}

#button__login:hover, #button__register:hover {
	background-color: rgba(0, 0, 0, 0);
	box-shadow: 0 5px 10px black;
	transform: translateY(-5px);
}

#button__login:hover::after, #button__register:hover::after {
	transform: translateX(0);
}

#a__forgotten-password, #a__already-have-account {
	text-align: center;
	font-size: 13pt;
	color: white;
	text-decoration-color: rgba(0, 0, 0, 0);
	transition: text-decoration-color 0.25s;
}

#a__forgotten-password:hover, #a__already-have-account:hover {
	text-decoration-color: white;
}

